

body {
  background-image: url(jo.jpg);}

  .square_1 {

    border: 20rm;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


  }


  .square_2 {

    border: 20rm;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .square_3 {

    border: 20rm;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}

    .square_4 {

      border: 20rm;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    .square_5 {

      border: 20rm;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    .square_6 {

      border: 20rm;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }




    .square_7 {

      border: 20rm;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }


    .square_8 {

      border: 20rm;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }


    .square_9 {

      border:20rm;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    table {
    border-collapse: collapse;
    font-size: 62.5%;
    font-family: Verdana;


}



    .v{
    border-left:1px solid #000;
    border-right:1px solid #000;

    }


  .h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;

  }






    .red{

      background-image: url("b.png");
      background-size: 64%;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .3s ease-in;




    }

    .blue{
      background-image: url("sa.png");
      background-size: 64%;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .3s ease-in;

    }
